body, a {
	background-color: #1a1a1a;
	color: white;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
	color: white;
}

.btn {
	margin: 10px 5px 5px 5px;
}

.list-entry {
	text-transform: capitalize;
	margin-bottom: 15px;
}