body, a{
	background-color: #1a1a1a;
	color: white;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
	color: white;
}

.btn {
	margin: 10px 5px 5px 5px;
}

.list-entry {
	text-transform: capitalize;
	margin-bottom: 15px;
}

.pokemon-thumbnail {
	border: 2px solid transparent;
}

.pokemon-thumbnail:hover {
	border: 2px solid white;
}

.detail-sprite {
	width: 25%;
}

.modal {
	color: black;
}

.modal-content {
	text-transform: capitalize;
}

.info {
	font-weight: normal;
	margin-bottom: 20px;
}

a.wiki-link {
	background-color: white;
	color: green;
}